form{
    margin-top: 2rem;
}

form textarea{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: 100%;
}

lable{
    margin-top: 1.5rem;
}

lable, input{
    display: block;
}

input{
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#email, #name{
    height: 2rem;
    width: 100%;
}

#instruction{
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#message{
    height: 10rem;
    width: 100%;
}

#submit-button{
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding: 0.5rem;
    width: 8rem;
}

#submit-button:hover{
    background-color: var(--white);
    color: var(--black);
}

@media(min-width: 768px){
    #contact-info{
        display: flex;
        gap: 2rem;
        flex-wrap: nowrap;
    }

    form{
        flex: 1 1 0;
        grid-area: form;
        margin-top: 0;
    }

    lable{
        margin-top: 0;
    }
    
    input{
        margin-bottom: 1.5rem;
    }

    #instruction{
        margin-top: 0;
    }

    #instruction-social-media{
        flex: 1 1 0;
    }
}

@media (min-width: 1200px){
    #contact-info{
        display: grid;
        grid-template-columns: 32% 2% auto;
        grid-template-areas:
            'instruction-social-media . form';
        gap: 0;
    }

    form{
        display: grid;
        grid-template-columns: 49% 2% 49%;
        grid-template-areas: 
            'name . email'
            'message message message'
            'submit . .';
        grid-area: form;
    }

    #name-div{
        grid-area: name;
    }

    #email-div{
        grid-area: email;
    }

    #message{
        height: 15rem;
    }

    #message-div{
        grid-area: message;
    }

    #submit-button{
        grid-area: submit;
    }

    #instructionc-social-media{
        grid-area: instruction-social-media;
    }
}