/* General styles */
:root{
    --black: #000;
    --white: #FFF;
    --blue: #63FFFF;
    --purple: #BCBAFD;
    --purple-pink: #DEB3FF;
    --pink: #FFB0DD;
    --orange: #FFA0A0;
    --yellow: #FFFCA8;
    --yellow-green: #CCFFA5;
    --green: #A5FFC9;
}

a{
    color: var(--white);
    text-decoration: none;
}

b{
    color: var(--black);
    padding: 0 0.5rem;
}

body{
    background-color: var(--black);
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1.5rem;
}

h2{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0.3rem;
    margin-top: 2rem;
}

h3{
    font-weight: 600;
    margin-top: 1rem;
}

html{
    scroll-padding-top: 12%;
}

i{
    font-style: italic;
}

img{
    max-width: 100%;
}

li{
    margin-bottom: 0.15rem;
    margin-top: 0.15rem;
}

li, p{
    line-height: 1.75rem;
}

nav{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

nav ul{
    display: flex;
}

nav ul li:hover{
    text-decoration: underline;
}

/* Specific styles */
.active-page{
    font-weight: 600;
}

#footer{
    border-top: 1px solid var(--white);
    grid-area: footer;
    width: 100%;
}

#footer p{
    padding-top: 1rem;
}

.h1{
    background-color: var(--blue);
}

#header{
    background-color: var(--black);
    font-size: 1.25rem;
    font-weight: 400;
    grid-area: header;
    padding-bottom: 4.5rem;
    padding-top: 2rem;
    position: sticky;
    top: 0;
    width: 100%;
}

.link{
    text-decoration: underline;
}

.link:hover{
    font-weight: 600;
}

.list{
    list-style: disc;
    margin-left: 1.3rem;
}

#logo{
    font-weight: 600;
}

#main{
    grid-area: main;
    margin-top: 12%;
    margin-bottom: 8%;
    width: 100%;
}

.nav-with-gap{
    margin-right: 1.5rem;
}

#wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 4rem auto 4rem;
    grid-template-areas: 
        'header header' 
        'main main' 
        'footer footer';
    margin: 0 auto 1.5rem;
    min-height: 100vh;
    width: 90%;
}

/* Media queries */
@media (min-width: 550px){
    body{
        font-size: 1.125rem;
    }

    li{
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
    }

    p, li{
        line-height: 2rem;
    }

    h1{
        font-size: 3.4rem;
    }

    h2{
        font-size: 1.4rem;
    }

    header{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    nav{
        align-self: center;
        justify-self: flex-end;
        padding-bottom: 0;
        padding-top: 0;
    }

    #logo{
        align-self: center;
    }

    #main{
        margin-top: 8%;
        margin-bottom: 8%;
    }

    #wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media (min-width: 750px){
    #wrapper{
        width: 90%;
    }
}

@media (min-width: 900px){
    #wrapper{
        width: 80%;
    }
}

@media (min-width: 1200px){
    body{
        font-size: 1.25rem;
    }

    li{
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }

    p, li{
        line-height: 2.25rem;
    }

    h1{
        font-size: 3.8rem;
    }

    #wrapper{
        max-width: 1200px;
        width: 90%;
    }
}