/* Specific rules */
.highlight{
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    white-space: nowrap;
}


#portfolio{
    margin-top: 5%;
}

#portfolio h2{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 2rem;
}

#projects figure{
    margin-top: 1rem;
}

#projects figure figcaption{
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

#uiux-highlight{
    background-color: var(--purple);
}

#webdev-highlight{
    background-color: var(--pink);
}

/* Media Queries */
@media (min-width: 750px){
    .highlight{
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    #introduction{
        margin: 0 auto;
        width: 80%;
    }

    #projects{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }
}

@media (min-width: 1200px){
    main{
        display: grid;
        grid-template-columns: 32% 2% auto;
        grid-template-areas:
            'introduction . portfolio';
        width: 100%;
    }

    #introduction{
        grid-area: introduction;
        width: 100%;
    }

    #portfolio{
        grid-area: portfolio;
        margin-top: 0;
    }

    #portfolio h2{
        margin-top: 0;
    }
}